html,h2{
    background-color: #FFFEFB;
    
}

body,nav {
    font-family: 'Poppins';
}

h2 {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 40px;
    color: #2E2E2E;
}

.wei {
    font-weight: bolder;
}

.find {
    font-weight: 600;
    font-size: 140px;
    color: #2E2E2E;
}

.navt {
    color: #7096FF !important;
    font-weight: 800 !important;
    font-size: 25px !important;
}

.navlink {
    color: #BFBFBF !important;
    font-weight: 500 !important;
}

.blue{
    color: #7196FF !important;
    font-size: small;
    text-decoration: none !important;
}

  .navbar .navbar-nav .nav-link:hover {
    color: #7196FF !important;
  }
  .navbar .navbar-nav .nav-item {
    position: relative;
  }
  .navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #7196FF;
    width: 0%;
    content: "";
    height: 4px;
    transition: all 0.5s;
  }

  .margin{
      margin-left: 45%;
  }
  
  .navbar .navbar-nav .nav-item:hover::after {
    width: 100%;
  }

  .search{
    width: 40%;
    margin-left: 30%;
    margin-top: 2%;
    background-color: #e9ecef;
    border-radius: 0.25em;
  }

  .loop{
      block-size: 25px;
  }

  .input-group .rounded{
    background-color: #e9ecef !important;
    border: 1px solid #e9ecef;
    
  }